<div class="container mt-3">
    <div class="row">
        <h1>Register Form</h1>
        <div class="col-md-5 offset-md-3">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <mat-form-field>
                    <mat-label class="example-full-width">First Name</mat-label>
                    <input matInput formControlName="firstname"/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label class="example-full-width">Last Name</mat-label>
                    <input matInput formControlName="lastname"/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label class="example-full-width">Email</mat-label>
                    <input matInput formControlName="email"/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label class="example-full-width">password</mat-label>
                    <input type="password" matInput formControlName="password"/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label class="example-full-width">City</mat-label>
                    <input matInput formControlName="city"/>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label class="example-full-width">Age</mat-label>
                    <input matInput formControlName="age"/>
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button color="primary">Register</button>
            </form>
        </div>
    </div>
</div>